.landing{
    padding-top: 200px;
}

.welcome {
    color: rgb(126, 182, 201);
    text-align: center;
    font-size: 100px;
}

h2 {
    color: rgb(149, 196, 212);
    text-align: center;
    font-size: 20px;
}

h3 {
    text-align: center;
    font-size: 15px;
}

.btn {
    margin: auto;
}

.btns {
    display: grid;
    gap: 2;
    columns: 6;
    /* margin: auto; */
}

