.landing{
    padding-top: 200px;
}

h1 {
    color: lightblue;
    text-align: center;
    font-size: 50px;
}

h2 {
    color: lightblue;
    text-align: center;
    font-size: 20px;
}

button {
    color:black;
    background-color: lightgray;
}
.btn {
    width: 62px;
    margin: auto;
}
